/Atomic.class
/Conjunctive.class
/Disjunctive.class
/Equality.class
/Existential.class
/Formula.class
/Implicative.class
/Negated.class
/Predicate.class
/Term.class
/Universal.class
/VariableContainer.class
/Equivalence.class
/Query.class
